In [1]:
# while True:
#     id=input('''What do you want to analyze?
#             1. Transactions made by customers in a given zipcode for a given month and year.
#             2. count and total values of given transaction type
#             3. count and total values of transactions for branches in given state
#           ''')
#     if id==1:
#         zipcode=input('Enter the zipcode of location you want to analyze: ')
#         month=input('Enter month number: ')
#         year=input('Enter year')

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark=SparkSession.builder.master('local[1]').appName('Credit Card Management System').getOrCreate()

In [3]:
df_cust = spark.read\
  .format("jdbc")\
  .option("driver","com.mysql.cj.jdbc.Driver")\
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone")\
  .option("dbtable", "cdw_sapp_customer")\
  .option("user", "root")\
  .option("password", "admin")\
  .load()
df_cust.createOrReplaceTempView('df_cust')

In [4]:
df_branch = spark.read\
  .format("jdbc")\
  .option("driver","com.mysql.cj.jdbc.Driver")\
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone")\
  .option("dbtable", "cdw_sapp_branch")\
  .option("user", "root")\
  .option("password", "admin")\
  .load()
df_branch.createOrReplaceTempView('df_branch')

In [5]:
df_credit = spark.read\
  .format("jdbc")\
  .option("driver","com.mysql.cj.jdbc.Driver")\
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone")\
  .option("dbtable", "cdw_sapp_credit_card")\
  .option("user", "root")\
  .option("password", "admin")\
  .load()
df_credit.createOrReplaceTempView('df_credit')

In [6]:
df_cust.printSchema()

root
 |-- SSN: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: integer (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)

In [7]:
df_cust.select('last_updated').distinct().show()

+-------------------+
|       last_updated|
+-------------------+
|2018-04-21 12:49:02|
+-------------------+

In [8]:
df_branch.show(2)

+-----------+------------+-----------------+-----------+------------+----------+-------------+-------------------+
|BRANCH_CODE| BRANCH_NAME|    BRANCH_STREET|BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|       LAST_UPDATED|
+-----------+------------+-----------------+-----------+------------+----------+-------------+-------------------+
|          1|Example Bank|     Bridle Court|  Lakeville|          MN|     55044|(123)456-5276|2018-04-18 16:51:47|
|          2|Example Bank|Washington Street|    Huntley|          IL|     60142|(123)461-8993|2018-04-18 16:51:47|
+-----------+------------+-----------------+-----------+------------+----------+-------------+-------------------+
only showing top 2 rows

In [9]:
df_credit.show(2)

+--------------+----------------+-----------------+----------------+-----------+---------+----------+
|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|  CREDIT_CARD_NO|BRANCH_CODE| CUST_SSN|    TIMEID|
+--------------+----------------+-----------------+----------------+-----------+---------+----------+
|             1|       Education|             78.9|4210653349028689|        114|123459988|2018-02-14|
|             2|   Entertainment|            14.24|4210653349028689|         35|123459988|2018-03-20|
+--------------+----------------+-----------------+----------------+-----------+---------+----------+
only showing top 2 rows

In [10]:
df_credit.select(year('timeid'))

DataFrame[year(timeid): int]

## TRANSACTION DETAILS
1)    Used to display the transactions made by customers living in a given zip code for a given month and year. Order by day in descending order.

In [11]:
#and last_updated='2018-04-21 12:49:02' order by EXTRACT(DAY FROM last_updated) desc
query2="select * from df_credit join df_cust on df_cust.ssn=df_credit.cust_ssn where df_cust.cust_zip='11001' \
and month(timeid)=3 and year(timeid)= 2018 order by day(timeid) desc"
df_trans=spark.sql(query2)
df_trans.show()

+--------------+----------------+-----------------+----------------+-----------+---------+----------+---------+----------+-----------+----------+-------------------+----------+----------+-------------+--------+-------------+--------------------+-------------------+
|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|  CREDIT_CARD_NO|BRANCH_CODE| CUST_SSN|    TIMEID|      SSN|FIRST_NAME|MIDDLE_NAME| LAST_NAME|FULL_STREET_ADDRESS| CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|          CUST_EMAIL|       LAST_UPDATED|
+--------------+----------------+-----------------+----------------+-----------+---------+----------+---------+----------+-----------+----------+-------------------+----------+----------+-------------+--------+-------------+--------------------+-------------------+
|         17384|      Healthcare|            51.29|4210653395351413|         81|123456703|2018-03-27|123456703|     Selma|      elroy|        Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|     SLe@example.com|2018-04-21 12:49:02|
|         13863|   Entertainment|            73.23|4210653326086223|         83|123457282|2018-03-27|123457282|   Adeline|    ernesto|   Ventura|  Redwood Drive,722|FloralPark|        NY|United States|   11001|(124)321-4000|AVentura@example.com|2018-04-21 12:49:02|
|         20789|           Bills|            52.86|4210653364243847|         40|123456057|2018-03-27|123456057|  Pasquale|    chelsey|   Navarro| Beechwood Drive,12|FloralPark|        NY|United States|   11001|(123)782-0000|PNavarro@example.com|2018-04-21 12:49:02|
|         13865|         Grocery|            79.19|4210653326086223|         17|123457282|2018-03-25|123457282|   Adeline|    ernesto|   Ventura|  Redwood Drive,722|FloralPark|        NY|United States|   11001|(124)321-4000|AVentura@example.com|2018-04-21 12:49:02|
|         20795|      Healthcare|             1.91|4210653364243847|         95|123456057|2018-03-24|123456057|  Pasquale|    chelsey|   Navarro| Beechwood Drive,12|FloralPark|        NY|United States|   11001|(123)782-0000|PNavarro@example.com|2018-04-21 12:49:02|
|         25316|      Healthcare|            37.81|4210653330232163|          4|123455098|2018-03-24|123455098|      Oren|      wyatt|Strickland|    Maiden Lane,985|FloralPark|        NY|United States|   11001|(123)888-4000|OStrickland@examp...|2018-04-21 12:49:02|
|         20185|       Education|            59.48|4210653372873067|          7|123456153|2018-03-23|123456153|   Forrest|     werner|Richardson|  Taylor Street,824|FloralPark|        NY|United States|   11001|(123)935-0000|FRichardson@examp...|2018-04-21 12:49:02|
|          6644|             Gas|            33.26|4210653330212793|          1|123458616|2018-03-23|123458616|     Paige|      james|    Dubois|    Laurel Lane,980|FloralPark|        NY|United States|   11001|(124)075-0000| PDubois@example.com|2018-04-21 12:49:02|
|         13872|            Test|            68.79|4210653326086223|         31|123457282|2018-03-23|123457282|   Adeline|    ernesto|   Ventura|  Redwood Drive,722|FloralPark|        NY|United States|   11001|(124)321-4000|AVentura@example.com|2018-04-21 12:49:02|
|         20105|      Healthcare|            73.13|4210653372873067|        121|123456153|2018-03-23|123456153|   Forrest|     werner|Richardson|  Taylor Street,824|FloralPark|        NY|United States|   11001|(123)935-0000|FRichardson@examp...|2018-04-21 12:49:02|
|         20808|   Entertainment|            91.51|4210653364243847|         60|123456057|2018-03-22|123456057|  Pasquale|    chelsey|   Navarro| Beechwood Drive,12|FloralPark|        NY|United States|   11001|(123)782-0000|PNavarro@example.com|2018-04-21 12:49:02|
|         27688|           Bills|            83.45|4210653327091690|         81|123454634|2018-03-22|123454634|      Dong|     tamika|      Kang|   Locust Street,18|FloralPark|        NY|United States|   11001|(123)818-2000|   DKang@example.com|2018-04-21 12:49:02|
|         13932|             Gas|            50.73|4210653326086223|         16|123457282|2018-03-22|123457282|   Adeline|    ernesto|   Ventura|  Redwood Drive,722|FloralPark|        NY|United States|   11001|(124)321-4000|AVentura@example.com|2018-04-21 12:49:02|
|         25277|      Healthcare|            93.91|4210653330232163|         50|123455098|2018-03-22|123455098|      Oren|      wyatt|Strickland|    Maiden Lane,985|FloralPark|        NY|United States|   11001|(123)888-4000|OStrickland@examp...|2018-04-21 12:49:02|
|         20790|           Bills|            63.69|4210653364243847|        123|123456057|2018-03-21|123456057|  Pasquale|    chelsey|   Navarro| Beechwood Drive,12|FloralPark|        NY|United States|   11001|(123)782-0000|PNavarro@example.com|2018-04-21 12:49:02|
|         13909|   Entertainment|            88.44|4210653326086223|        168|123457282|2018-03-21|123457282|   Adeline|    ernesto|   Ventura|  Redwood Drive,722|FloralPark|        NY|United States|   11001|(124)321-4000|AVentura@example.com|2018-04-21 12:49:02|
|          7280|           Bills|            30.71|4210653344857749|         47|123458499|2018-03-19|123458499|    Willie|     marcie|     Myers| Hillside Drive,381|FloralPark|        NY|United States|   11001|(123)736-6000|  WMyers@example.com|2018-04-21 12:49:02|
|         20165|       Education|            69.01|4210653372873067|         40|123456153|2018-03-19|123456153|   Forrest|     werner|Richardson|  Taylor Street,824|FloralPark|        NY|United States|   11001|(123)935-0000|FRichardson@examp...|2018-04-21 12:49:02|
|         27714|            Test|             85.8|4210653327091690|          4|123454634|2018-03-19|123454634|      Dong|     tamika|      Kang|   Locust Street,18|FloralPark|        NY|United States|   11001|(123)818-2000|   DKang@example.com|2018-04-21 12:49:02|
|         27679|   Entertainment|            64.34|4210653327091690|        156|123454634|2018-03-18|123454634|      Dong|     tamika|      Kang|   Locust Street,18|FloralPark|        NY|United States|   11001|(123)818-2000|   DKang@example.com|2018-04-21 12:49:02|
+--------------+----------------+-----------------+----------------+-----------+---------+----------+---------+----------+-----------+----------+-------------------+----------+----------+-------------+--------+-------------+--------------------+-------------------+
only showing top 20 rows

2)    Used to display the number and total values of transactions for a given type.
3)    Used to display the total number and total values of transactions for branches in a given state.

In [12]:
spark.sql("select count(*),round(sum(transaction_value),2) as total_value from df_credit where transaction_type='Education'").show()

+--------+-----------+
|count(1)|total_value|
+--------+-----------+
|    6638|  337980.07|
+--------+-----------+

In [13]:
query="select count(*),round(sum(transaction_value),2) as total_Value from df_credit join df_branch \
on df_credit.branch_code= df_branch.branch_code where branch_state='IL'"
spark.sql(query).show()

+--------+-----------+
|count(1)|total_Value|
+--------+-----------+
|    2439|   124708.3|
+--------+-----------+

## CUSTOMER DETAILS
1) Used to check the existing account details of a customer.
2) Used to modify the existing account details of a customer.
3) Used to generate a monthly bill for a credit card number for a given month and year.
4) Used to display the transactions made by a customer between two dates. Order by year, month, and day in descending order

In [14]:
query="select * from df_credit join df_cust on df_cust.ssn=df_credit.cust_ssn \
join df_branch on df_credit.branch_code=df_branch.branch_code\
 where df_cust.ssn=123456703"
spark.sql(query).show()

+--------------+----------------+-----------------+----------------+-----------+---------+----------+---------+----------+-----------+---------+-------------------+----------+----------+-------------+--------+-------------+---------------+-------------------+-----------+------------+----------------+------------+------------+----------+-------------+-------------------+
|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|  CREDIT_CARD_NO|BRANCH_CODE| CUST_SSN|    TIMEID|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|FULL_STREET_ADDRESS| CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|   CUST_PHONE|     CUST_EMAIL|       LAST_UPDATED|BRANCH_CODE| BRANCH_NAME|   BRANCH_STREET| BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|       LAST_UPDATED|
+--------------+----------------+-----------------+----------------+-----------+---------+----------+---------+----------+-----------+---------+-------------------+----------+----------+-------------+--------+-------------+---------------+-------------------+-----------+------------+----------------+------------+------------+----------+-------------+-------------------+
|         17384|      Healthcare|            51.29|4210653395351413|         81|123456703|2018-03-27|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|         81|Example Bank|   Summer Street|Simpsonville|          SC|     29680|(123)458-3583|2018-04-18 16:51:47|
|         17379|       Education|            55.28|4210653395351413|         52|123456703|2018-07-23|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|         52|Example Bank|   Fulton Street|      ElPaso|          TX|     79930|(123)424-5465|2018-04-18 16:51:47|
|         17377|      Healthcare|             8.03|4210653395351413|         19|123456703|2018-07-09|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|         19|Example Bank|     King Street|SilverSpring|          MD|     20901|(123)448-4380|2018-04-18 16:51:47|
|         17378|   Entertainment|            54.16|4210653395351413|         43|123456703|2018-11-17|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|         43|Example Bank|    Ashley Court|     Houston|          TX|     77016|(123)475-5992|2018-04-18 16:51:47|
|         17385|             Gas|            76.85|4210653395351413|        175|123456703|2018-12-08|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|        175|Example Bank| Garfield Avenue|  FloralPark|          NY|     11001|(123)484-2967|2018-04-18 16:51:47|
|         17380|         Grocery|            24.35|4210653395351413|          4|123456703|2018-11-04|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|          4|Example Bank|Cleveland Street|  Middleburg|          FL|     32068|(123)466-3064|2018-04-18 16:51:47|
|         17375|           Bills|             92.2|4210653395351413|         24|123456703|2018-10-02|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|         24|Example Bank|    Grove Street|     Redford|          MI|     48239|(123)461-7414|2018-04-18 16:51:47|
|         17381|      Healthcare|            26.05|4210653395351413|        156|123456703|2018-08-08|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|        156|Example Bank|    Adams Street| WestChester|          PA|     19380|(123)454-8652|2018-04-18 16:51:47|
|         17376|   Entertainment|            41.56|4210653395351413|        156|123456703|2018-05-28|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|        156|Example Bank|    Adams Street| WestChester|          PA|     19380|(123)454-8652|2018-04-18 16:51:47|
|         17382|       Education|             80.2|4210653395351413|         99|123456703|2018-03-03|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|         99|Example Bank|   Bridge Street|     Seymour|          IN|     47274|(123)416-4581|2018-04-18 16:51:47|
|         17383|             Gas|            57.45|4210653395351413|        104|123456703|2018-04-21|123456703|     Selma|      elroy|       Le|4th Street West,801|FloralPark|        NY|United States|   11001|(123)686-0000|SLe@example.com|2018-04-21 12:49:02|        104|Example Bank| Cambridge Court|      Owosso|          MI|     48867|(123)490-9907|2018-04-18 16:51:47|
+--------------+----------------+-----------------+----------------+-----------+---------+----------+---------+----------+-----------+---------+-------------------+----------+----------+-------------+--------+-------------+---------------+-------------------+-----------+------------+----------------+------------+------------+----------+-------------+-------------------+